In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
pop = pd.read_csv('/Users/avonleafisher/Desktop/cc-est2019-agesex-36.csv')

In [3]:
geo = pd.read_csv('/Users/avonleafisher/Desktop/NY_GEOIDS.csv')

In [4]:
geo = geo[['2015 GEOID', 'County']]

In [5]:
counties = []
for i in geo.County:
    county = i[:-10]
    counties.append(county)

In [6]:
geo.County = counties

In [7]:
geo

    2015 GEOID              County
0        36001       Albany County
1        36003     Allegany County
2        36005        Bronx County
3        36007       Broome County
4        36009  Cattaraugus County
..         ...                 ...
57       36115   Washington County
58       36117        Wayne County
59       36119  Westchester County
60       36121      Wyoming County
61       36123        Yates County

[62 rows x 2 columns]

In [8]:
pop

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,36,1,New York,Albany County,1,304204,147076,157128,15286,...,4531,6858,2604,4254,7100,2104,4996,38.5,36.8,40.0
1,50,36,1,New York,Albany County,2,304208,147076,157132,15288,...,4532,6858,2605,4253,7100,2104,4996,38.5,36.8,40.0
2,50,36,1,New York,Albany County,3,304086,147026,157060,15275,...,4516,6851,2620,4231,7162,2128,5034,38.5,36.8,40.0
3,50,36,1,New York,Albany County,4,304596,147456,157140,15161,...,4456,6770,2633,4137,7238,2179,5059,38.4,36.6,40.1
4,50,36,1,New York,Albany County,5,305723,147934,157789,15233,...,4296,6580,2545,4035,7410,2280,5130,38.1,36.4,39.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,50,36,123,New York,Yates County,8,25128,12194,12934,1515,...,422,572,238,334,639,234,405,41.6,40.5,42.6
740,50,36,123,New York,Yates County,9,25059,12158,12901,1554,...,444,558,243,315,620,223,397,41.3,40.3,42.3
741,50,36,123,New York,Yates County,10,25002,12162,12840,1541,...,445,570,246,324,625,226,399,41.4,40.5,42.2
742,50,36,123,New York,Yates County,11,24951,12124,12827,1520,...,455,595,252,343,612,220,392,41.3,40.7,42.0
743,50,36,123,New York,Yates County,12,24913,12132,12781,1541,...,468,619,270,349,599,213,386,41.3,40.5,42.0

In [9]:
df = pd.merge(pop, geo,  how='left', left_on='CTYNAME', right_on = 'County')

In [10]:
df = df.drop('CTYNAME', axis=1)

In [11]:
df

,SUMLEV,STATE,COUNTY,STNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,UNDER5_MALE,...,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM,2015 GEOID,County
0,50,36,1,New York,1,304204,147076,157128,15286,7821,...,2604,4254,7100,2104,4996,38.5,36.8,40.0,36001,Albany County
1,50,36,1,New York,2,304208,147076,157132,15288,7821,...,2605,4253,7100,2104,4996,38.5,36.8,40.0,36001,Albany County
2,50,36,1,New York,3,304086,147026,157060,15275,7805,...,2620,4231,7162,2128,5034,38.5,36.8,40.0,36001,Albany County
3,50,36,1,New York,4,304596,147456,157140,15161,7791,...,2633,4137,7238,2179,5059,38.4,36.6,40.1,36001,Albany County
4,50,36,1,New York,5,305723,147934,157789,15233,7799,...,2545,4035,7410,2280,5130,38.1,36.4,39.8,36001,Albany County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,50,36,123,New York,8,25128,12194,12934,1515,773,...,238,334,639,234,405,41.6,40.5,42.6,36123,Yates County
740,50,36,123,New York,9,25059,12158,12901,1554,782,...,243,315,620,223,397,41.3,40.3,42.3,36123,Yates County
741,50,36,123,New York,10,25002,12162,12840,1541,803,...,246,324,625,226,399,41.4,40.5,42.2,36123,Yates County
742,50,36,123,New York,11,24951,12124,12827,1520,787,...,252,343,612,220,392,41.3,40.7,42.0,36123,Yates County
743,50,36,123,New York,12,24913,12132,12781,1541,796,...,270,349,599,213,386,41.3,40.5,42.0,36123,Yates County