In [7]:
import pandas as pd

In [9]:
pd.read_csv('/Users/avonleafisher/Desktop/cc-est2019-agesex-36.csv')

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,36,1,New York,Albany County,1,304204,147076,157128,15286,...,4531,6858,2604,4254,7100,2104,4996,38.5,36.8,40.0
1,50,36,1,New York,Albany County,2,304208,147076,157132,15288,...,4532,6858,2605,4253,7100,2104,4996,38.5,36.8,40.0
2,50,36,1,New York,Albany County,3,304086,147026,157060,15275,...,4516,6851,2620,4231,7162,2128,5034,38.5,36.8,40.0
3,50,36,1,New York,Albany County,4,304596,147456,157140,15161,...,4456,6770,2633,4137,7238,2179,5059,38.4,36.6,40.1
4,50,36,1,New York,Albany County,5,305723,147934,157789,15233,...,4296,6580,2545,4035,7410,2280,5130,38.1,36.4,39.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,50,36,123,New York,Yates County,8,25128,12194,12934,1515,...,422,572,238,334,639,234,405,41.6,40.5,42.6
740,50,36,123,New York,Yates County,9,25059,12158,12901,1554,...,444,558,243,315,620,223,397,41.3,40.3,42.3
741,50,36,123,New York,Yates County,10,25002,12162,12840,1541,...,445,570,246,324,625,226,399,41.4,40.5,42.2
742,50,36,123,New York,Yates County,11,24951,12124,12827,1520,...,455,595,252,343,612,220,392,41.3,40.7,42.0
743,50,36,123,New York,Yates County,12,24913,12132,12781,1541,...,468,619,270,349,599,213,386,41.3,40.5,42.0